In [1]:
%pip install mysql.connector

Requirement already satisfied: mysql.connector in ./.venv/lib/python3.13/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(host='localhost', user='root', password='Sameer^123' , database='indian_business_db')
# if getting NotSupported error then upgrade mysql connect

In [5]:
import pandas as pd

In [9]:
df = pd.read_sql_query("SELECT * FROM ceos", conn, index_col='ceo_id')

/var/folders/2n/crrd9j_x7t12tcwwj5192r0c0000gn/T/ipykernel_9468/3333597065.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM ceos", conn, index_col='ceo_id')

In [10]:
df

,first_name,last_name,company,industry,founding_year,headquarters,linkedin_profile,notes
ceo_id,,,,,,,,
1,Mukesh,Ambani,Reliance Industries,Conglomerate/Energy/Retail,1966,Mumbai,https://www.linkedin.com/in/mukesh-ambani-7380...,Chairman and Managing Director
2,Gautam,Adani,Adani Group,Conglomerate/Infrastructure,1988,Ahmedabad,https://www.linkedin.com/in/gautam-adani-37673...,Chairman
3,Satya,Nadella,Microsoft,Technology,1975,"Redmond, USA",https://www.linkedin.com/in/satyanadella/,Chairman and CEO (Indian-born)
4,Sundar,Pichai,Alphabet (Google),Technology,1998,"Mountain View, USA",https://www.linkedin.com/in/sundarpichai/,CEO of Google and Alphabet
5,Kumar,Mangalam Birla,Aditya Birla Group,Conglomerate,1995,Mumbai,https://www.linkedin.com/in/kumar-mangalam-bir...,Chairman
6,N. Chandrasekaran,Chandrasekaran,Tata Sons,Conglomerate,1907,Mumbai,https://www.linkedin.com/in/n-chandrasekaran-7...,Chairman
7,Shiv,Nad-ar,HCL Technologies,Information Technology,1976,Noida,https://www.linkedin.com/in/shiv-nadar-5728848/,Founder and Chairman Emeritus
8,Uday,Kotak,Kotak Mahindra Bank,Financial Services,1985,Mumbai,https://www.linkedin.com/in/uday-kotak-8141172/,"Founder, Executive Vice Chairman and MD"
9,C.P.,Gurnani,Tech Mahindra,Information Technology,1986,New Delhi,https://www.linkedin.com/in/c-p-gurnani-471b65/,Managing Director & CEO
10,Anish,Shah,Mahindra & Mahindra,Automotive/Conglomerate,1945,Mumbai,https://www.linkedin.com/in/anishbshah/,Managing Director & CEO
11,Sanjiv,Mehra,Max Group,Healthcare/Financial Services,1982,New Delhi,https://www.linkedin.com/in/sanjiv-mehra-05a13b4/,Group Chairman
12,Arundhati,Bhattacharya,JPMorgan Chase International,Financial Services,1871,"New York, USA",https://www.linkedin.com/in/arundhati-bhattach...,"Former Chairperson of State Bank of India, Boa..."
13,Ajay,Banga,Mastercard,Financial Services,1968,"Purchase, USA",https://www.linkedin.com/in/ajay-banga/,"Former CEO of Mastercard, now President of the..."
14,Hetal,Paresh,Infosys,Information Technology,1981,Bengaluru,https://www.linkedin.com/in/hetal-paresh-7830294/,"Former CEO of Infosys, currently on board memb..."
15,Sridhar,Srinivas Murthy,LTIMindtree,Information Technology,2022,Bengaluru,https://www.linkedin.com/in/sridharsrinivas/,CEO and Managing Director
16,Kunal,Shah,CRED,FinTech,2018,Bengaluru,https://www.linkedin.com/in/kunal-shah-a77832a/,Founder
17,Vijay,Shekhar Sharma,Paytm,FinTech,2010,Noida,https://www.linkedin.com/in/vijayshekhars,Founder & CEO

In [12]:
import os
file_name = "Indian_Ceos.csv"
df.to_csv(file_name, index=False)