In [1]:
import pandas as pd
import requests

In [3]:
url = "https://www.data.gov.in/files/ogdpv2dms/s3fs-public/NRSC-rainfall-districtwise-jan22_0.csv"
response = requests.get(url)

In [14]:
from io import StringIO
csv_data = StringIO(response.text)

In [15]:
df = pd.read_csv(csv_data)

In [16]:
df.head(5)

,State,District,Date,Year,Month,Avg_rainfall,Agency_name
0,Andaman & Nicobar,Nicobar,2022-01-01,2022,1,0.0,NRSC VIC MODEL
1,Andaman & Nicobar,Nicobar,2022-01-03,2022,1,0.0,NRSC VIC MODEL
2,Andaman & Nicobar,Nicobar,2022-01-04,2022,1,0.0,NRSC VIC MODEL
3,Andaman & Nicobar,Nicobar,2022-01-05,2022,1,0.0,NRSC VIC MODEL
4,Andaman & Nicobar,Nicobar,2022-01-06,2022,1,0.0,NRSC VIC MODEL

In [20]:
df.drop('Agency_name', axis=1, inplace=True)

In [22]:
import os
file_name = "rainfall_in_india.csv"
df.to_csv(file_name, index=False)