In [1]:
import pandas as pd

In [25]:
import requests

url = "https://api.data.gov.in/resource/1611f725-e7ac-4be0-8954-0748e4b8821a?api-key=< >&format=csv"

response = requests.get(url)
print(response)

<Response [200]>

In [32]:
from io import StringIO
csv_data = StringIO(response.text)

In [33]:
df = pd.read_csv(csv_data)

In [34]:
df.head(5)

,te,District,Date,Year,Month,Avg_rainfall,Agency_name
0,Andhra Pradesh,Guntur,2022-01-30T20:28:56Z,2022,1,0.000358,NRSC VIC MODEL
1,Andhra Pradesh,Krishna,2022-01-03T20:28:56Z,2022,1,0.000000,NRSC VIC MODEL
2,Andhra Pradesh,Krishna,2022-01-05T20:28:56Z,2022,1,0.010526,NRSC VIC MODEL
3,Andhra Pradesh,Krishna,2022-01-10T20:28:56Z,2022,1,0.003331,NRSC VIC MODEL
4,Andhra Pradesh,Krishna,2022-01-18T20:28:56Z,2022,1,0.000000,NRSC VIC MODEL

In [35]:
import os
file_name = "rainfall_in_india.csv"
df.to_csv(file_name, index=False)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   te            10 non-null     object
 1   District      10 non-null     object
 2   Date          10 non-null     object
 3   Year          10 non-null     int64
 4   Month         10 non-null     int64
 5   Avg_rainfall  10 non-null     float64
 6   Agency_name   10 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 692.0+ bytes